server {
    listen 80;

    # Ограничение размера загружаемых файлов
    client_max_body_size 10M;

    location /static/ {
        alias /app/myshop/myshop/staticfiles/;
        expires 30d;                      # ← кешировать статику 30 дней в браузере
        add_header Cache-Control "public"; # ← разрешить кеширование
    }

    location /media/ {
        alias /app/myshop/myshop/media/;
        expires 7d;                        # ← кешировать медиа 7 дней
        add_header Cache-Control "public";
    }

    location / {
        proxy_pass http://web:8000;
        proxy_set_header Host $http_host; 
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 60s;            # ← таймаут ожидания ответа от Django
        proxy_connect_timeout 60s;         # ← таймаут подключения к Django
    }
}