{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    
    <style>
        .messages li {
            transition: opacity 0.5s ease;
        }
        .messages li.fade-out {
            opacity: 0;
        }
    </style>
    
    <script>
        setTimeout(function() {
            const messages = document.querySelectorAll('.messages li');
            messages.forEach(function(message) {
                message.classList.add('fade-out');
                setTimeout(function() {
                    message.style.display = 'none';
                }, 500);
            });
        }, 2000);
    </script>
{% endif %}

    <div id="header">
        <a href="/" class="logo">My shop</a>
        
        <!--  ДОБАВЛЕНА ССЫЛКА НА АККАУНТ -->
       
        <div class="account-link">
            <a href="{% url 'account:user_detail' %}" aria-label="Мой аккаунт">
                <i class="fas fa-user"></i>  <!-- Или fa-user-circle, fa-user-circle-o -->
            </a>
        </div>
    </div>
    
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- JavaScript код лучше размещать в конце body -->
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken');

        document.addEventListener('DOMContentLoaded', (event) => {
            // DOM загружена
            {% block domready %}
            {% endblock %}
        });
    </script>
</body>
</html>